In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#read files
feature = pd.read_csv('Features data set.csv')
sales = pd.read_csv('sales data-set.csv')
stores = pd.read_csv('stores data-set.csv')

In [3]:
feature.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [4]:
sales.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

In [5]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [6]:
#check for missing values
missing_values_count = feature.isnull().sum()
missing_values_count[:]

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [7]:
#check for missing values
missing_values_count = sales.isnull().sum()
missing_values_count[:]

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [8]:
#check for missing values
missing_values_count = stores.isnull().sum()
missing_values_count[:]

Store    0
Type     0
Size     0
dtype: int64

In [9]:
feature = feature.dropna(subset=['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5', 'CPI','Unemployment'])

In [10]:
feature = feature.drop_duplicates()
sales = sales.drop_duplicates()
stores = stores.drop_duplicates()

In [11]:
#more information about 
feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2069 entries, 92 to 8175
Data columns (total 12 columns):
Store           2069 non-null int64
Date            2069 non-null object
Temperature     2069 non-null float64
Fuel_Price      2069 non-null float64
MarkDown1       2069 non-null float64
MarkDown2       2069 non-null float64
MarkDown3       2069 non-null float64
MarkDown4       2069 non-null float64
MarkDown5       2069 non-null float64
CPI             2069 non-null float64
Unemployment    2069 non-null float64
IsHoliday       2069 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 187.9+ KB

In [12]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 5 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Date            421570 non-null object
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 14.9+ MB

In [13]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 44
Data columns (total 3 columns):
Store    45 non-null int64
Type     45 non-null object
Size     45 non-null int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [14]:
#Predict the department-wide sales for each store for the following year

sales.groupby(['Store','Dept'])['Weekly_Sales'].sum()

Store  Dept
1      1       3219405.18
       2       6592598.93
       3       1880518.36
       4       5285874.09
       5       3468885.58
       6        686654.56
       7       3513007.70
       8       5107710.84
       9       4012873.47
       10      4437774.25
       11      3563455.70
       12      1511015.98
       13      5533081.91
       14      2183402.78
       16      3453601.77
       17      1315107.78
       18       877479.40
       19       180039.65
       20       585094.73
       21      1116608.43
       22      1151446.89
       23      3092115.41
       24       884796.73
       25      1451784.16
       26       967823.61
       27       196574.90
       28        84815.30
       29       665098.75
       30       488387.19
       31       344420.26
                  ...
45     51          104.52
       52       209675.92
       54         5784.62
       55       870254.51
       56       519397.43
       58       241179.85
       59        85912.45
       60        25313.20
       67       972546.81
       71       628686.82
       72      5357682.10
       74      1531547.32
       77         1525.96
       78           88.00
       79      2180038.31
       80        72622.47
       81      2095392.73
       82      1920560.27
       83       117915.34
       85       286197.78
       87       901911.85
       90      3385387.04
       91      2379795.61
       92      6882003.38
       93       390193.68
       94       494496.46
       95      7564151.83
       96            5.94
       97       924775.55
       98        75767.27
Name: Weekly_Sales, Length: 3331, dtype: float64

In [15]:
#Predict the wide sales for each store for the following year
sales.groupby(['Store'])['Weekly_Sales'].sum()

Store
1     2.224028e+08
2     2.753824e+08
3     5.758674e+07
4     2.995440e+08
5     4.547569e+07
6     2.237561e+08
7     8.159828e+07
8     1.299512e+08
9     7.778922e+07
10    2.716177e+08
11    1.939628e+08
12    1.442872e+08
13    2.865177e+08
14    2.889999e+08
15    8.913368e+07
16    7.425243e+07
17    1.277821e+08
18    1.551147e+08
19    2.066349e+08
20    3.013978e+08
21    1.081179e+08
22    1.470756e+08
23    1.987506e+08
24    1.940160e+08
25    1.010612e+08
26    1.434164e+08
27    2.538559e+08
28    1.892637e+08
29    7.714155e+07
30    6.271689e+07
31    1.996139e+08
32    1.668192e+08
33    3.716022e+07
34    1.382498e+08
35    1.315207e+08
36    5.341221e+07
37    7.420274e+07
38    5.515963e+07
39    2.074455e+08
40    1.378703e+08
41    1.813419e+08
42    7.956575e+07
43    9.056544e+07
44    4.329309e+07
45    1.123953e+08
Name: Weekly_Sales, dtype: float64

In [16]:
#Model the effects of markdowns on holiday weeks

sales.groupby(['IsHoliday'])['Weekly_Sales'].sum()

IsHoliday
False    6.231919e+09
True     5.052996e+08
Name: Weekly_Sales, dtype: float64

In [17]:
sales.groupby(['Store','IsHoliday'])['Weekly_Sales'].sum()

Store  IsHoliday
1      False        2.057453e+08
       True         1.665748e+07
2      False        2.545898e+08
       True         2.079267e+07
3      False        5.320862e+07
       True         4.378110e+06
4      False        2.771129e+08
       True         2.243103e+07
5      False        4.188067e+07
       True         3.595016e+06
6      False        2.069471e+08
       True         1.680908e+07
7      False        7.487427e+07
       True         6.724003e+06
8      False        1.201979e+08
       True         9.753309e+06
9      False        7.189971e+07
       True         5.889508e+06
10     False        2.504802e+08
       True         2.113756e+07
11     False        1.794788e+08
       True         1.448394e+07
12     False        1.329058e+08
       True         1.138140e+07
13     False        2.653873e+08
       True         2.113044e+07
14     False        2.677941e+08
       True         2.120583e+07
15     False        8.206962e+07
       True         7.064060e+06
                        ...
31     False        1.846136e+08
       True         1.500026e+07
32     False        1.547814e+08
       True         1.203784e+07
33     False        3.453428e+07
       True         2.625945e+06
34     False        1.278300e+08
       True         1.041978e+07
35     False        1.207772e+08
       True         1.074348e+07
36     False        4.973581e+07
       True         3.676406e+06
37     False        6.912749e+07
       True         5.075250e+06
38     False        5.134453e+07
       True         3.815099e+06
39     False        1.919343e+08
       True         1.551127e+07
40     False        1.277900e+08
       True         1.008034e+07
41     False        1.679925e+08
       True         1.334948e+07
42     False        7.388881e+07
       True         5.676942e+06
43     False        8.420597e+07
       True         6.359463e+06
44     False        4.033273e+07
       True         2.960356e+06
45     False        1.040324e+08
       True         8.362937e+06
Name: Weekly_Sales, Length: 90, dtype: float64